@import './../variables';

.bookList {
	margin-top: 24px;
	margin-bottom: 40px;
	.bookListHeader {
		margin-bottom: 24px;
		padding: 0 16px;
		border-bottom: solid 1px #c5d3d3;
		h1 {
			padding: 8px 0;
			position: relative;
			display: inline-block;
			color: $default2;
			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0em;
			text-align: left;

			&:after {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				background: $default2;
				border-radius: 2px 2px 0 0;
			}
		}
	}
	ul {
		li {
			margin-bottom: 36px;
			.bookCover {
				margin: 16px 0;
				max-width: 150px;
				@include aspect-ratio(150, 220);
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}
			.bookData {
				.bookTitle {
					margin-bottom: 8px;
					h2 {
						font-family: Lato;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 24px;
						letter-spacing: 0em;
						text-align: left;
					}
				}
				.authors {
					margin-bottom: 8px;
					font-family: Lato;
					font-size: 12px;
					font-style: normal;
					font-weight: 700;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: left;
					color: $default2;
				}
				.stars {
					margin-bottom: 8px;
					svg {
						fill: #fdca2a;
					}
				}
				.date {
					margin-bottom: 8px;
					//styleName: 12/Regular;
					font-family: Lato;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: left;

					strong {
						//styleName: 12/Bold;
						font-family: Lato;
						font-size: 12px;
						font-style: normal;
						font-weight: 700;
						line-height: 18px;
						letter-spacing: 0em;
						text-align: left;
					}
				}
			}
		}
	}
}
