@import './../variables';

.dropdownBooks {
	display: none;
	width: 100%;
	max-width: 495px;
	max-height: 400px;
	overflow: auto;
	background: #ffffff;
	border: 1px solid #c5d3d3;
	box-sizing: border-box;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	ul {
		padding: 0 16px;
		li {
			cursor: pointer;
			padding: 16px 0;
			border-bottom: 1px solid #c5d3d3;
			display: flex;
			align-items: flex-start;
			gap: 8px;
			.bookCover {
				width: 50px;
				@include aspect-ratio(50, 70);
				background: #ececec;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}
			.bookInfo {
				flex: 1;
				h2 {
					font-family: Lato;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 21px;
					letter-spacing: 0em;
					text-align: left;
					color: #343a3b;
				}
				.author {
					margin-bottom: 6px;
					font-family: Lato;
					font-size: 12px;
					font-style: normal;
					font-weight: 700;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: left;
					color: #616b6d;
				}
				.pageCount,
				.isbn {
					font-family: Lato;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: left;
					color: #616b6d;
				}
			}
			&:last-child {
				border: 0;
			}
		}
	}
}

.dropdownBooks--visible {
	display: block;
}
