@import './variables';
@import './reset';

@import './header';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 0 15px;
}

// BUTTONS
.btn {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	background: lightgray;
	padding: 8px;
	width: 240px;
	border-radius: 64px;
	cursor: pointer;
}

.btn-default {
	transition: all linear 0.2s;
	background: $default;
	color: #fff;
	&:hover {
		background: $default2;
	}
}

.btn-default2 {
	transition: all linear 0.2s;
	background: $default2;
	color: #fff;
	&:hover {
		background: $default;
	}
}

.btn-transparent {
	width: auto;
	padding: 0;
	background: none;
	color: $default;
}

@import './footer';
